{% extends "base.html" %}

{% block content %}
<div class="login-form-container">
  <h1 class="text-center">Login</h1>
  <form action="{% url 'accounts:login' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <login-label for="{{ form.username.id_for_label }}">아이디</login-label><br>
      <div class="input-container">
        {{ form.username }} 
      </div>
    </div>
    <div class="form-group">
      <login-label for="{{ form.password.id_for_label }}">비밀번호</login-label><br>
      <div class="input-container">
        {{ form.password }} 
      </div>
    <div class="login-links"> 
      <span class="login-link" onclick="window.location.href='{% url 'accounts:find_id' %}'">아이디 찾기</span>
      <span class="login-link" onclick="window.location.href='{% url 'accounts:password_reset' %}'">비밀번호 찾기</span>
    </div>
    
    <div class="button-container">
      <input type="submit" value="로그인" class="btn btn-dark">
    </div>
  </form>

  <form action="{% url 'accounts:signup' %}" method="POST">
    {% csrf_token %}
    <div class="button-container">
      <input type="submit" value="회원가입" class="login-btn login-btn-light">
    </div>
  </form>
</div>
{% endblock content %}
