{% extends "base.html" %}

{% block content %}

<!--모달!-->
<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">WARM</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>정말 회원탈퇴를 하시겠어요?</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'accounts:delete' %}">
          <button class="modal-btn" type="button" class="btn btn-primary">탈퇴하기</button>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="mypage-cate container">
  <div class="row">
    <div class="mypage-cate-title col-2">
      <p>계정 정보</p>
    </div>
    <div class="mypage-cate-line col-1">

    </div>
    <div class="mypage-cate-detail col-9">
      <a href="{% url "accounts:update" %}"><p>회원정보 수정</p></a>
      <a href="{% url "accounts:password_change" user.pk %}"><p>비밀번호 변경</p></a>
      <a href="#" id="delete-btn"><p>회원탈퇴</p></a>
    </div>
  </div>
</div>

<script>
  {% comment %} document.getElementById('delete-btn').addEventListener('click', function(event) {
    event.preventDefault();  // 링크 기본 동작 중단

    var result = confirm('정말 탈퇴하시겠습니까?');
    if (result) {
      window.location.href = "{% url 'accounts:delete' %}"; // 확인 클릭 시 회원탈퇴 URL로 이동
    }

  }); {% endcomment %}

  document.addEventListener('DOMContentLoaded', function () {
    // 회원탈퇴 버튼 클릭 이벤트
    const deleteBtn = document.getElementById('delete-btn');
  
    deleteBtn.addEventListener('click', function (event) {
      event.preventDefault(); // 기본 동작 중단
  
      // 모달 동작 코드
      const modal = new bootstrap.Modal(document.querySelector('.modal'));
      modal.show();

    });
  });
</script>
{% endblock content %}