{% extends "base.html" %}

{% block content %}
  <div class="signup-container">
    <h2>비밀번호 재설정</h2>

    {% if error %}
      <div class="alert alert-danger">
        <strong>오류:</strong> {{ error }}
      </div>
    {% endif %}

    {% if success %}
      <div class="alert alert-success">
        <strong>성공!</strong> 비밀번호 재설정 이메일이 발송되었습니다. 이메일을 확인해주세요.
      </div>
    {% endif %}
    <div class="form-group ">
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="name-email-label">이름</label><br>
          <input type="text" id="name" name="name" required><br>

          <label for="email" class="name-email-label">이메일</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="signup-btn signup-btn-light">임시 비밀번호 발송</button>
      </form>
    </div>
  </div>
{% endblock %}